USE [Wissen]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[bolum_id] [int] IDENTITY(1,1) NOT NULL,
	[bolum_adi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bolumler] PRIMARY KEY CLUSTERED 
(
	[bolum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doktorlar]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doktorlar](
	[doktor_id] [int] IDENTITY(1,1) NOT NULL,
	[doktor_adiSoyadi] [nvarchar](50) NULL,
	[hastane_id] [int] NOT NULL,
	[bolum_id] [int] NOT NULL,
 CONSTRAINT [PK_Doktorlar] PRIMARY KEY CLUSTERED 
(
	[doktor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastauyelik]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastauyelik](
	[hasta_id] [int] IDENTITY(1,1) NOT NULL,
	[hasta_adiSoyadi] [nvarchar](255) NULL,
	[hasta_nicki] [nvarchar](255) NULL,
	[hasta_parola] [nvarchar](15) NULL,
 CONSTRAINT [PK_Hastauyelik] PRIMARY KEY CLUSTERED 
(
	[hasta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[id] [int] NOT NULL,
	[ilce] [nvarchar](255) NULL,
	[sehir] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevular]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevular](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hastane] [nvarchar](255) NULL,
	[bolum] [nvarchar](250) NULL,
	[doktor_adiSoyadi] [nvarchar](255) NOT NULL,
	[Tarih] [date] NOT NULL,
	[Saat] [char](5) NOT NULL,
	[hasta_id] [int] NOT NULL,
 CONSTRAINT [PK_Randevu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRHastaneler]    Script Date: 15.11.2021 01:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRHastaneler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[il] [nvarchar](255) NOT NULL,
	[ilce_adi] [nvarchar](255) NOT NULL,
	[hastane] [nvarchar](255) NOT NULL,
	[adres] [nvarchar](255) NOT NULL,
	[telefon] [nvarchar](255) NOT NULL,
	[eposta] [nvarchar](255) NOT NULL,
	[enlem] [nvarchar](255) NOT NULL,
	[boylam] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TRHastaneler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bolumler] ON 

INSERT [dbo].[Bolumler] ([bolum_id], [bolum_adi]) VALUES (1, N'KBB')
INSERT [dbo].[Bolumler] ([bolum_id], [bolum_adi]) VALUES (2, N'Dahiliye')
INSERT [dbo].[Bolumler] ([bolum_id], [bolum_adi]) VALUES (3, N'Kalp ve Damar Cerrahi')
SET IDENTITY_INSERT [dbo].[Bolumler] OFF
GO
SET IDENTITY_INSERT [dbo].[Doktorlar] ON 

INSERT [dbo].[Doktorlar] ([doktor_id], [doktor_adiSoyadi], [hastane_id], [bolum_id]) VALUES (1, N'Alican Aksakal', 409, 1)
INSERT [dbo].[Doktorlar] ([doktor_id], [doktor_adiSoyadi], [hastane_id], [bolum_id]) VALUES (2, N'Okancan Okan', 409, 2)
INSERT [dbo].[Doktorlar] ([doktor_id], [doktor_adiSoyadi], [hastane_id], [bolum_id]) VALUES (3, N'Murat Boz', 409, 3)
SET IDENTITY_INSERT [dbo].[Doktorlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Hastauyelik] ON 

INSERT [dbo].[Hastauyelik] ([hasta_id], [hasta_adiSoyadi], [hasta_nicki], [hasta_parola]) VALUES (1, N'Alican Aksakal', N'aaksakal', N'1234')
SET IDENTITY_INSERT [dbo].[Hastauyelik] OFF
GO
SET IDENTITY_INSERT [dbo].[ilceler] ON 

INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[ilceler] OFF
GO
SET IDENTITY_INSERT [dbo].[iller] ON 

INSERT [dbo].[iller] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[iller] OFF
GO
SET IDENTITY_INSERT [dbo].[Randevular] ON 

INSERT [dbo].[Randevular] ([id], [hastane], [bolum], [doktor_adiSoyadi], [Tarih], [Saat], [hasta_id]) VALUES (1, NULL, NULL, N'Alican Aksakal', CAST(N'2021-11-14' AS Date), N'09:00', 1)
INSERT [dbo].[Randevular] ([id], [hastane], [bolum], [doktor_adiSoyadi], [Tarih], [Saat], [hasta_id]) VALUES (2, NULL, NULL, N'Okancan Okan', CAST(N'2021-11-15' AS Date), N'10:00', 2)
INSERT [dbo].[Randevular] ([id], [hastane], [bolum], [doktor_adiSoyadi], [Tarih], [Saat], [hasta_id]) VALUES (5, NULL, NULL, N'Alican Aksakal', CAST(N'2021-11-14' AS Date), N'09:15', 1)
SET IDENTITY_INSERT [dbo].[Randevular] OFF
GO
SET IDENTITY_INSERT [dbo].[TRHastaneler] ON 

INSERT [dbo].[TRHastaneler] ([id], [il], [ilce_adi], [hastane], [adres], [telefon], [eposta], [enlem], [boylam]) VALUES (1, N'ADANA', N'ÇUKUROVA', N'Adana Ağız Ve Diş Sağlığı Merkezi', N'100.Yıl Mah. 85341 Sk No:2 Çukurova/adana', N'3222563960', N'adana.adsm@saglik.gov.tr', N'37.0024', N'35.328876')
INSERT [dbo].[TRHastaneler] ([id], [il], [ilce_adi], [hastane], [adres], [telefon], [eposta], [enlem], [boylam]) VALUES (2, N'ADANA', N'CEYHAN', N'Adana Ceyhan Devlet Hastanesi', N'Ceyhan Devlet Hastanesi, Ulus Mh., 01950 Ceyhan/adana', N'3226131362', N'adanadhs1@saglik.gov.tr', N'37.02709', N'35.819077')
INSERT [dbo].[TRHastaneler] ([id], [il], [ilce_adi], [hastane], [adres], [telefon], [eposta], [enlem], [boylam]) VALUES (3, N'ADANA', N'YÜREĞİR', N'Adana Devlet Hastanesi', N'Adana Devlet Hastanesi H.Ömer Sabancı Cd. (Eski Numune Hastanesi) 01140 Seyhan Adana\nSemt Polikliniği Eski Adana Devlet Hastanesi Karataş Yolu Üzeri 01160 Yüreğir Adana\n\n', N'3223215752', N'adanadhs11@saglik.gov.tr', N'36.985157', N'35.33731')
GO
SET IDENTITY_INSERT [dbo].[TRHastaneler] OFF
GO
